<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-524,297}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,975},{42,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-513,294}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{163,955},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-482,205}</string>
                <key>spriteSize</key>
                <string>{170,220}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{337,227},{170,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-490,198}</string>
                <key>spriteSize</key>
                <string>{196,222}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{163,731},{196,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-500,158}</string>
                <key>spriteSize</key>
                <string>{222,158}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{309,477},{222,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-504,153}</string>
                <key>spriteSize</key>
                <string>{242,162}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,253},{242,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-523,144}</string>
                <key>spriteSize</key>
                <string>{224,154}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{263,1},{224,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-535,149}</string>
                <key>spriteSize</key>
                <string>{210,174}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{361,701},{210,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-541,159}</string>
                <key>spriteSize</key>
                <string>{198,206}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{509,219},{198,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-555,167}</string>
                <key>spriteSize</key>
                <string>{170,230}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{165,245},{170,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-570,177}</string>
                <key>spriteSize</key>
                <string>{140,250}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-581,187}</string>
                <key>spriteSize</key>
                <string>{118,242}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{143,1},{118,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-503,286}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{601,567},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-568,197}</string>
                <key>spriteSize</key>
                <string>{144,238}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,497},{144,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-575,216}</string>
                <key>spriteSize</key>
                <string>{130,210}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{469,449},{130,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-575,237}</string>
                <key>spriteSize</key>
                <string>{130,174}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{537,661},{130,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-587,240}</string>
                <key>spriteSize</key>
                <string>{106,148}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{361,913},{106,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-587,252}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{511,913},{106,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-497,275}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{669,645},{122,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-494,264}</string>
                <key>spriteSize</key>
                <string>{132,138}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{601,427},{132,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-492,252}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{637,837},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-489,243}</string>
                <key>spriteSize</key>
                <string>{148,192}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{577,1},{148,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-486,234}</string>
                <key>spriteSize</key>
                <string>{156,216}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{419,1},{156,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-484,228}</string>
                <key>spriteSize</key>
                <string>{160,236}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,737},{160,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-480,217}</string>
                <key>spriteSize</key>
                <string>{160,232}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{147,497},{160,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FreeSpinComL_light.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd04f02d507603e7fa98b1e29371202:a6eac0dfbb681978f84efce71055e3bf:8095994351b7bbfad772b5a7496295e6$</string>
            <key>textureFileName</key>
            <string>FreeSpinComL_light.png</string>
        </dict>
    </dict>
</plist>
