<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attck_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-70}</string>
                <key>spriteSize</key>
                <string>{270,526}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{553,271},{270,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-73}</string>
                <key>spriteSize</key>
                <string>{268,522}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-84}</string>
                <key>spriteSize</key>
                <string>{280,498}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1,813},{280,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-102}</string>
                <key>spriteSize</key>
                <string>{292,474}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1553,543},{292,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-104}</string>
                <key>spriteSize</key>
                <string>{270,470}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1081,271},{270,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-105}</string>
                <key>spriteSize</key>
                <string>{268,468}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{525,1},{268,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-96}</string>
                <key>spriteSize</key>
                <string>{272,486}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{509,543},{272,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-87}</string>
                <key>spriteSize</key>
                <string>{284,504}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1023,817},{284,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-81}</string>
                <key>spriteSize</key>
                <string>{284,516}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1529,837},{284,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-76}</string>
                <key>spriteSize</key>
                <string>{284,526}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{557,1103},{284,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-73}</string>
                <key>spriteSize</key>
                <string>{284,532}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1085,1123},{284,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-79}</string>
                <key>spriteSize</key>
                <string>{268,508}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{995,1},{268,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-87}</string>
                <key>spriteSize</key>
                <string>{270,492}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1553,271},{270,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-82}</string>
                <key>spriteSize</key>
                <string>{270,506}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1,541},{270,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-74}</string>
                <key>spriteSize</key>
                <string>{268,530}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1505,1},{268,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-61}</string>
                <key>spriteSize</key>
                <string>{268,550}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1,271},{268,550}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-56}</string>
                <key>spriteSize</key>
                <string>{272,554}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{997,543},{272,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-56}</string>
                <key>spriteSize</key>
                <string>{282,554}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{1,1095},{282,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attck_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-73}</string>
                <key>spriteSize</key>
                <string>{276,520}</string>
                <key>spriteSourceSize</key>
                <string>{300,678}</string>
                <key>textureRect</key>
                <string>{{501,817},{276,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ch_attck.png</string>
            <key>size</key>
            <string>{2046,1408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:033270dbd322924b4c6d69cd5fd0070d:65ea3772bcfbf8f859dd88448517cd9b:a8ba119d7ed6798c5e71c7a240a1b59f$</string>
            <key>textureFileName</key>
            <string>Ch_attck.png</string>
        </dict>
    </dict>
</plist>
