<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S001_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{226,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1813,1},{226,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{226,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1813,229},{226,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{280,266}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1195,841},{280,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{272,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,873},{272,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{262,286}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{907,579},{262,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{555,1365},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{579,1111},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{280,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{605,585},{280,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{266,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1777,1041},{266,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{262,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{885,1097},{262,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{260,292}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1497,293},{260,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{282,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1497,555},{282,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{238,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1697,1309},{238,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{280,252}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{887,843},{280,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1433,1121},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{256,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1791,481},{256,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{260,244}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1125,1373},{260,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{279,1135},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{240,252}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{543,1631},{240,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{252,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{821,1621},{252,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1387,1383},{258,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{268,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{855,1361},{268,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{277,1385},{264,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{246,274}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1147},{246,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1125,1619},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1395},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{262,268}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1163,1109},{262,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{274,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{301,859},{274,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{284,280}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1491,839},{284,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{294,284}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{907,293},{294,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{605,1},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{907,1},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1209,1},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{300,296}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{258,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1789,751},{258,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{300,282}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,299},{300,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,299},{300,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_42</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1511,1},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_43</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{300,296}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_44</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{605,293},{300,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{268,286}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1203,571},{268,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{278,264}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{605,845},{278,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{282,298}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,589},{282,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S001_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{292,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1203,293},{292,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S001_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{300,274}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,583},{300,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scatter.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6369b89b3ac5199eadbb31d4b36013:979b0410689935a1fbf20af8d024c696:70948969c3322f666dee8a0626a27e36$</string>
            <key>textureFileName</key>
            <string>Scatter.png</string>
        </dict>
    </dict>
</plist>
